pandas
numpy
scikit-learn
torch
transformers
datasets
accelerate
sentencepiece
matplotlib
pytest
requests
python-dotenv
Flask
pyarrow
faiss-cpu
rapidfuzz
sentence-transformers
charset-normalizer
beautifulsoup4
openpyxl
pyyaml
